.search-box form input {
    margin-bottom: 10px;
}

.search-box form input[type="text"]{
    padding: 7px 15px;
    outline: none;
    border-radius: 4px;
    display: block;
    border: 1px solid #232323;
    background-color: #555555;
    color:white;
}

.search-box form input[type="text"]:focus{
    border:1px solid #f65261;
}